@use 'src/styles' as *;

.article {
  background-color: white;
  padding: 24px 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow background-color 0.3s;
  &:hover {
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: darken(white, 0.75%);
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 12px;
  }
}

.title {
  color: $dark-green;
  width: 100%;
  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.description {
  display: flex;
  gap: 30px;
  align-items: center;
  
}

.source {
  font-size: 18px;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
