@use 'src/styles' as *;

.header {
  padding: 21px calc(50% - 700px);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  @media (max-width: 1500px) {
    padding: 21px 20px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, auto);
    row-gap: 24px;
    column-gap: 30px;
    padding: 10px;
  }
}

.displayBtns {
  gap: 12px;
  display: flex;
  @media (max-width: 1024px) {
    order: 2;
  }
}
.menuBtns {
  gap: 12px;
  display: flex;
  @media (max-width: 1024px) {
    order: 1;
    justify-content: end;
  }
}

.message {
  @media (max-width: 1024px) {
    order: 3;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  font-size: 18px;
  padding: 12px;
  color: $dark-gray;
  cursor: pointer;
  transition: color 0.3s;
  &.active {
    color: $green;
  }
  &:hover {
    color: $green;
  }
}

.icon {
  width: 46px;
  height: 46px;

  &.rotated {
    transform: rotate(90deg);
  }
}
