@use 'src/styles' as *;

.content {
  padding: 90px calc(50% - 700px);
  display: flex;
  flex-direction: column;
  gap: 30px;

  &.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    @media (max-width: 768px) {
      flex-direction: column;
      display: flex;
    }
  }

  @media (max-width: 1500px) {
    padding: 60px 20px;
  }
}

.noArticles {
  font-size: 28px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 21px;
}

.back {
  text-decoration: none;
  color: $green;
  font-weight: bold;
  transition: color 0.3s;
  &:hover {
    color: $dark-green;
  }
}
